@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'DM Serif Display';
    src: url('D:\Eby Projects\blog-shop\blogshop\src\assets\DMSerifDisplay-Regular.ttf') format('ttf');
         
    
  }

  @font-face {
    font-family: 'Source Code Pro';
    src: url('D:\Eby Projects\blog-shop\blogshop\src\assets\SourceCodePro-VariableFont_wght.ttf') format('ttf'),

    
  }